::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-dark-gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-light-gray;
}
